[Desktop Entry]
Version=0.8.1
Type=Application
Name=NetEase Cloud Music
Name[zh_CN]=网易云音乐
Name[zh_TW]=網易雲音樂
Comment=NetEase Cloud Music
Comment[zh_CN]=网易云音乐
Comment[zh_TW]=網易雲音樂
Icon=netease-cloud-music-gtk
Exec=netease-cloud-music-gtk %U
Categories=AudioVideo;Player;
Terminal=false
